div {
    margin : 1% 2% 1%;
  }
hr.new1  {
    border: 2px solid #D8D8D8;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
  }
  
  .grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  a.nav-link {
      font-size: 12;
  }